
:root{
    --cantidad:""
}
* {
    box-sizing: border-box;
    margin: 0%;
    color: white;
}
body{
    margin: 0px;
    padding: 0%;
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
    background-color: black;
}
img{
    display: block;
    max-width: 100%;
}
.cajasuperior{
    background-color: rgb(8, 59, 42);
    width:  100%;
    position: sticky;
    z-index: 1;
    border-radius: 0;
    padding: 0%;
    top: 0;
}
.navlist h1{
    
        padding: 10px;
        text-align: left;
        font-size: 8ex;
        background: #079661;
        color: white;

      
}
.navlist hover,h1:hover{
    color: black;
}
.minicaja{
    display: flex;
    width:  100%;
    padding-left: 0%;
    
}
a{
    text-decoration: none;
    color: white;
}
.minicaja >*{
    
    list-style-type: none;
    padding: 0.5rem;
    font-size: 5ex;
}

.caja_carrito{
    height: 5dvh;
    width: 25vw;
    margin-left: auto;
    background-color:rgb(8, 59, 42);
}
.resto_caja{
    width: 100%;
    background-color:rgb(8, 59, 42);
    border: solid 1px white;
}
.item_carrito{
display: grid;
grid-template-columns: 3fr 6fr 1fr;
border-bottom: solid 1px white;
}
.item_carrito img{
    width: 100%;
}
.item_carrito h3{
    text-align: left;
    margin-bottom: 5px;
}
.icono_carrito{
    text-align: right;
    
}
@media (max-width: 1000px) {
    .item_carrito{
        grid-template-rows: 1fr 2fr auto;
        grid-template-columns: auto ;
    }
    .item_carrito img{
        width: 50% ;
        height: 100%;
        place-self: center;
    }
    .item_carrito .cancelar{
        text-align: right;
    }
    .item_carrito .details{
        align-self: auto;
    }
}
.boton{
    cursor: pointer;
    background: #079661;
}
.boton:hover{
    background-color: #ddd;
    color: black; 
}
.wrapper{
    overflow-y: auto;
    max-height: 20dvh;
}
.link-header:hover,a:hover {
    background-color: #ddd;
    color: black;
}
@media (max-width: 600px) {
    .icono_carrito{
        text-align: left;
    }
    .minicaja {
      flex-direction: column;
      max-height:auto-fit ;
    }
    .caja_carrito{
        margin-left: 0%;
        width: auto;
    }
    .caja_carrito{
        margin-left: 0%;
        width: auto;
    }
    .item_carrito{
        display: grid;
        grid-template-columns: 3fr 6fr 1fr;
        grid-template-rows: auto;
    }
    .item_carrito img{
        width: 100%;
    }

    .item_carrito .cancelar{
        text-align: right;
    }
    .item_carrito .details{
        align-self: auto;
    }
  }      
.grid{
    text-align: center;
    width: 90%;
    place-content: center;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas:
    "miniheader" 
    "imagen"
    "cubos "
    "footer";
    gap: 15px 5px;
}
.micro_Header, .h_img{
    background: #079661;
}
.micro_Header{
grid-area: miniheader;
max-height: 15dvh;

}
.h_img{
    grid-area: imagen;
    min-width: 100%;
    }
.cubos{
    grid-area: cubos;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: auto auto auto;
    gap: 5px 15px;
}
.sub{
    display: grid;
    
    grid-template-rows:subgrid ;
    grid-row: span 3;
    text-align: center;
    background: #079661;
    border: 2px solid #966d07;
    align-content: space-evenly;
    
}
.grid_miniFooter{
    text-align: center;
    grid-area: footer;
    background:rgb(8, 59, 42) ;
}
.cubos{
  
  align-items: center;
  justify-content: center;
}
.hide{
    display: none;
}
.non-empty::after{
    content: var(--cantidad);
    font-size: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    position: relative;
    background-color: red;
    border-radius: 50%;
    top: -18px;
    right: 10px;
    
}
.shop-section{
    margin-top: 5dvh;
    margin-inline: 10dvw,10dvw;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
.card-item{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}
.card-item img{
    width:15dvw;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.boton_añadir_al_carrito{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: brown;
    border-radius: 3px;
    font-size: large;
    color:#fff
}